---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Deployment Monitor

{{ tffile "examples/resources/komodor_monitor/resource_deploy.tf" }}

### Availability Monitor

{{ tffile "examples/resources/komodor_monitor/resource_availability.tf" }}

{{ .SchemaMarkdown | trimspace }}
